.dark .ce-block--selected .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .cdx-button,
.dark .ce-popover,
.dark .ce-toolbar__plus:hover {
  background: #2c2c2c;
  color: white;
  border-color: #2c2c2c;
}

.dark .ct__content {
  background: #2c2c2c;
  color: white;
  border-color: #2c2c2c;
  border-radius: 10px;
}

.dark .ce-inline-tool,
.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,
.dark .cdx-settings-button,
.dark .ce-toolbar__plus {
  color: white;
}

.dark .ce-popover__item-icon,
.dark .ce-conversion-tool__icon {
  background-color: #2c2c2c;
  box-shadow: none;
}

.dark .cdx-search-field {
  border-color: white;
  background: #212121;
  color: white;
}

.dark ::selection {
  background: white;
}

.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-popover__item:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-toolbar__settings-btn:hover {
  background-color: white;
  color: #2c2c2c;
}

.dark .cdx-notify--error {
  background: white !important;
}

.dark .cdx-notify__cross::after,
.dark .cdx-notify__cross::before {
  background: white;
}
